/*  FORSIDE */
/* styling af logo */
h1{
    margin-top: 55px;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    font-size: 300px;
}

h1:hover{
    color: navy;
    transition: 1s;
}
/* logo SLUT */
.logo{
    text-decoration: none;
}

/* styling af baggrund */
img{
    width: 100%;
    height: auto;
}
/* baggrund SLUT */




/* styling af body */
body{
    font-family: "capitolina", serif;
font-weight: 300;
font-style: normal;
background-image: url(img/STILET-baggrund.png);
background-position:center ;
background-repeat: no-repeat;
background-size: cover;
background-color: teal;
}
/* body SLUT */



/* styling af VELKOMMEN (mellemrum fra h1) */
h2{
    margin-top: 50px;
}
/* VELKOMMEN SLUT */




/* styling af nav-bar */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    
}
li{
    display: inline-block;

}
li a{
    margin-left: 200px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.menupunkt{
    display: block;
    padding: 8px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
}

li a:hover{
    color: orange;
    transition: 1s;
}
/* navbar SLUT */



/* styling af h2 */
h2{
    color: white;
    font-family: capitolina, sans-serif;
    text-align: center;
    font-size: 50px;
}
/* h2 SLUT */



/* styling af paragraf */
p{
    color: white;
    font-family: capitolina, sans-serif;
    text-align: center;
    font-size: 20px;
}

/* paragraf SLUT */



/* styling af video */
*,
::before,
::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.home{
    height: 100vh;
    position: relative;
}

video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 100%;
    border: 3px solid white;
    border-radius: 9000px;
}
/* video SLUT */
/* FORSIDE SLUT */







/* ARTIKEL 1 */
/* Styling af baggrund */
.artikel-1{
background-image: url(img/STILET-artikel1-baggrund.png);
background-position:center ;
background-repeat: no-repeat;
background-size: cover;
}
/* Baggrund SLUT */

article{
    margin-left: 50px;
}

/* Eyebrow-text */
h3{
    text-align: center;
    color: white;
    font-size: 30px;
}
/* Eyebrow-text SLUT */


/* Styling af artikel-billede */
.billede-artikel-1{
    margin-top: 5px;
    width: 650px;
    float: right;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 30px;
}
/* billede SLUT */


/* Styling af link */
.runge-link{
    text-decoration: none;
}

/* Link SLUT */








/* artikel 2 */
/* styling af baggrund */
.artikel-2{
background-image: url(img/STILET-artikel-2-baggrund.png);
background-position:center ;
background-repeat: no-repeat;
background-size: cover;
}
/* baggrund SLUT */


/* styling af slogan */
.slogan{
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    margin-top: 1px;
    font-size: 40px;
}
/* slogan SLUT */


/* styling af billede */
.billede-artikel-2{
    margin-top: 5px;
    width: 900px;
    float: right;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 30px;
}
/* billede SLUT */


/* styling af links */
.fh-link{
    text-decoration: none;
}

.blaa-link{
    text-decoration: none;
}

.kraeftens-link{
    text-decoration: none;
}
/* links SLUT */








/* Artikel 3 */
/* styling af baggrund */
.artikel-3{
background-image: url(img/STILET-artikel1-baggrund.png);
background-position:center ;
background-repeat: no-repeat;
background-size: cover;
}
/* baggrund SLUT */

/* Styling af billede */
.billede-artikel-3{
    margin-top: 5px;
    width: 900px;
    float: right;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 30px;
}
/* billede SLUT */

/* styling af link */
.aelfric-link{
    text-decoration: none;
}
/* link SLUT */








/* SoMe */
/* styling af baggrund */
.some{
    background-image: url(img/STILET-artikel1-baggrund.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}
/* baggrund SLUT */

/* styling af ikoner */
.fa-brands{
    display: inline-block;
    color: white;
    font-size: 450px;
    padding: 20px;
}

.fa-brands:hover{
    color: navy;
    transition: 1s;
}
/* SLUT */